@import url(https://fonts.googleapis.com/css?family=Merriweather:700);
@import url(https://fonts.googleapis.com/css?family=Nunito);


/*Text*/
h1 {
    /*font-family: "Raleway", sans-serif*/
    font-size: 5em;
    color: ghostwhite;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 300;
    position: relative;
    /*top: 30%;*/
    left: 0;
    right: 0;
    top : 0;
}

h2 {
    /*font-family: "Raleway", sans-serif*/
    font-size: 2em;
    color: #002f5f;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 300;
    position: relative;
    /*top: 30%;*/
    left: 0;
    right: 0;
    top : 0;
}

h3 {
    font-size: 1.3em;
}

p2 {
    font-size: 1em;
    color: dimgrey;
    font-family: 'Merriweather', serif;
    /*font-family: "Raleway", sans-serif;*/
    /*pointer-events: none;*/
    font-weight: lighter;
    padding-left: 2em;
}

p2_a {
    font-size: 1em;
    color: #3f3f3f;
    font-family: 'Merriweather', serif;
    /*font-family: "Raleway", sans-serif;*/
    /*pointer-events: none;*/
    font-weight: lighter;
}

p3 {
    font-size: 1.5em;
    color: darkgrey;
    font-family: 'EB Garamond', cursive;
}

p4 {
    font-size: 1.3em;
    color: dimgrey;
    font-family: 'Merriweather', serif;
    /*font-family: "Raleway", sans-serif;*/
    /*pointer-events: none;*/
    font-weight: lighter;

}


b {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

h_1 {
    font-family: "Raleway", sans-serif;
    font-size: 4em;
    color: ghostwhite;
    /*font-family: 'Merriweather', serif;*/
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 300;
    position: relative;
    /*top: 30%;*/
    left: 0;
    right: 0;
    top : 0;
}


bottom_text {
    font-size: 1em;
    color: black;
    font-family: "Raleway", sans-serif;
    /*font-weight: 300;*/
    position: relative;
    /*top: 30%;*/
    left: 0;
    right: 0;
}

highlighted_blue {
    background-color: deepskyblue;
}

highlighted_green {
    background-color: greenyellow;
}

title_0 {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.5em;
    font-weight: normal;
}

title_1 {
    font-size: 4em;
    color: #181818;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    pointer-events: none;
    font-weight: 300;
    position: relative;
    left: 0;
    right: 0;
    top : 0;
}

title_2 {
    font-size: 2em;
    color: #181818;
    font-family: 'Merriweather', serif;
}

title_3 {
    font-size: 1.5em;
    color: #181818;
    font-family: 'Merriweather', serif;
}

p {
    font-size: 1.5em;
    color: dimgrey;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: normal;
    left: 0;
    right: 0;
    align: left;
}

footer {
    font-size: 1.2em;
    color: dimgrey;
    font-family: 'Merriweather', serif;
    /*font-weight: 300;*/
}

html {
    font-family: 'Merriweather', serif;
}

tc_red {
    color: red;
}

tc_darkblue {
    color: #002f5f;
}

tc_lightblack {
    color: #2a2a2a;
}

tc_blue {
    color: dodgerblue;
}

tc_green {
    color: limegreen;
}

tc_magenta {
    color: darkmagenta;
    /*color: blueviolet;*/
}

tc_violet {
    color: rgba(190, 137, 249, 0.95);
}


.project_name {
    font-size: 2.5vw;
    /*color: #b8dd00;*/
    /*color: #002f5f;*/
    /*font-family: 'Poller One', cursive;*/
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project_name.cvprofile {
    /*color: #b8dd00;*/
    color: #5646c2;
    font-family: 'Merriweather', sans-serif;
}

.project_name.dragon {
    /*color: #b8dd00;*/
    color: #be10c2;
    font-family: 'Poller One', cursive;
}

.project_name.vocabulary {
    color: #e0f4fe;
    font-family: 'Nunito', serif;
}


.project_description {
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    min-width: 80%;
    min-height: 70%;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity .2s, visibility .2s;
}

/* Dragon menu */
dragon_menu {
    font-size: 3%;
    color: dimgrey;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

/*t1 {*/
    /*font-family: 'Lato', sans-serif;*/
/*}*/
/*t2 {*/
/*font-family: 'Noto Serif', serif;*/
/*}*/
/*t3 {*/
/*font-family: 'Crimson Text', serif;*/
/*}*/
/*t4 {*/
/*font-family: 'IM Fell English SC', serif;*/
/*}*/
/*t5 {*/
/*font-family: 'Acme', sans-serif;*/
/*}*/
/*t6 {*/
/*font-family: 'Abril Fatface', cursive;*/
/*}*/
/*t7 {*/
/*font-family: 'EB Garamond', serif;*/
/*}*/
/*t8 {*/
/*font-family: 'Alegreya', serif;*/
/*}*/
/*t9 {*/
/*font-family: 'Great Vibes', cursive;*/
/*}*/
/*t10 {*/
/*font-family: 'Noticia Text', serif;*/
/*}*/
/*t11 {*/
/*font-family: 'Kaushan Script', cursive;*/
/*}*/
/*t12 {*/
/*font-family: 'Old Standard TT', serif;*/
/*}*/
/*t13 {*/
/*font-family: 'Cookie', cursive;*/
/*}*/



.row.spec_table_section .cell {
    font-family: Poppins-Regular;
    font-size: 1.4em;
}

.row .cell {
    font-family: Poppins-Regular;
    font-size: 1em;
}