.button_download {
    max-width: 2em;
    max-height: 2em;
    border-radius: 10px;
    background-color: ghostwhite;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #003A75;
    padding: 0.3em;
}


/*Animated elements*/
#arrowAnim {
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 2vw;
    height: 2vw;
    border: 0.2vw solid;
    border-color: #448fda #448fda #448fda #448fda;
    /*border-color: red red red red;*/
    transform: rotate(45deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 12s linear infinite;
    animation: slide 12s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-3vw); }
    20% { opacity:1; transform: translateY(-2.5vw); }
    40% { opacity:0; transform: translateY(0.5vw); }
    100% { opacity:0; transform: translateY(3vw); }
}

@keyframes slide {
    0% { opacity:0; transform: translateY(-10vw); }
    50% { opacity:0; transform: translateY(-6.2vw); }
    55% { opacity:0.5; transform: translateY(-3.9vw); }
    80% { opacity:0; transform: translateY(-1.7vw); }
    100% { opacity:0; transform: translateY(5vw); }
}

@-webkit-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Delimiter lines */
hr.light {
    height:1px;
    border-width:0;
    border-bottom: 1px dashed #bccbed;
    color: #bccbed;
    background-color: #fff1ea /*#001c33;*/
}

hr.dark {
    height:1px;
    border-width:0;
    color: #26517b;
    background-color: #26517b; /*#001c33;*/
}

/* Images */
.projects_box {
    justify-content: center;
    margin: 10% auto;
    /*background-color: #5bffa6;*/
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*max-height: 30%;*/
}

.project {
    position: relative;
    flex-grow: 1;
    max-width: 40%;
    /*min-width: 20%;*/
    /*min-height: 20%;*/
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.project:hover {
    position: relative;
    flex-grow: 1;
    /*min-width: 30%;*/
    /*min-height: 30%;*/
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.project:after {
    padding-top: 83.33333%;
    /*margin-top: 50px;*/
    display: block;
    content: "";
    padding-left: 20px;
    padding-right: 20px;
}

.project:before {
    z-index: 2;
    position: absolute;
    content: "";
    /*top: 0px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/

    /*box-shadow: inset 0 0 0 2px #ea030e;*/
}

.project_image {
    /*padding: 5em;*/
    /*margin-top: 100px;*/
    /*margin: 5vw;*/
    min-width: 20%;
    min-height: 20%;
    margin: 50px;
    /*padding: auto;*/
    border-radius: 3px;
    box-shadow: 0px 0px 50px 3px #c7e0f4;
    text-decoration: none;
    text-align: center;
    /*vertical-align: middle;*/
    /*line-height: 200px;*/
}
