.button_download {
    max-width: 2em;
    max-height: 2em;
    border-radius: 10px;
    background-color: ghostwhite;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: #003A75;
    padding: 0.3em;
}


/*Animated elements*/
#arrowAnim {
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 2vw;
    height: 2vw;
    border: 0.2vw solid;
    border-color: #448fda #448fda #448fda #448fda;
    /*border-color: red red red red;*/
    transform: rotate(45deg);
}


.arrowSliding {
    position: absolute;
    -webkit-animation: slide 12s linear infinite;
    animation: slide 12s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-3vw); }
    20% { opacity:1; transform: translateY(-2.5vw); }
    40% { opacity:0; transform: translateY(0.5vw); }
    100% { opacity:0; transform: translateY(3vw); }
}

@keyframes slide {
    0% { opacity:0; transform: translateY(-10vw); }
    50% { opacity:0; transform: translateY(-6.2vw); }
    55% { opacity:0.5; transform: translateY(-3.9vw); }
    80% { opacity:0; transform: translateY(-1.7vw); }
    100% { opacity:0; transform: translateY(5vw); }
}

@-webkit-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Delimiter lines */
hr.light {
    height:1px;
    border-width:0;
    border-bottom: 1px dashed #bccbed;
    color: #bccbed;
    background-color: #fff1ea /*#001c33;*/
}

hr.dark {
    height:1px;
    border-width:0;
    color: #26517b;
    background-color: #26517b; /*#001c33;*/
}

/* Images */
.projects_box {
    justify-content: center;
    margin: 10% auto;
    max-width: 70%;
    /*min-height: 20vh;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    position: relative;
    flex-grow: 1;
    max-width: 25vw;
    background-size: cover;
    background-position: center;
    /*box-shadow: 0px 0px 25px -3px rgba(208, 227, 244, 0.68);*/
    box-shadow: 0px 0px 30px -3px #c9d9df;
    opacity: 1;
}

.project:hover .project_image .project_name {
    position: relative;
    flex-grow: 1;
    max-width: 25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*box-shadow: 0px 0px 50px 10px #c7e0f4;*/
    box-shadow: 0px 0px 50px -10px #a2afb4;
    opacity: 0.2;
}

.project:hover .project_description_layer {
    visibility: visible;
    opacity: 1;
}

.project .project_description_layer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 14, 40, 0.75);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.project:after {
    padding-top: 83.33333%;
    display: block;
    content: "";
    padding-left: 20vw;
}

.project:before {
    /*z-index: 2;*/
    position: absolute;
    content: "";
}

.project_image {
    margin: 2vw;
    border-radius: 3px;
    /*box-shadow: 0px 0px 50px 3px #c7e0f4;*/
    text-decoration: none;
    text-align: center;
}

.project_image.shaded {
    /*opacity: 0.6;*/
    background-color: grey;
}

.social_icon {
    margin: 5%;
    text-decoration: none;
    text-align: center;
}

.diagram_image {
    /*max-width: 70%;*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*object-fit: contain;*/

}

.inner_board {
    box-shadow: inset 3px 5px 8px 13px rgba(104, 104, 104, 0.64);
}

.wrap-table100 {
    box-shadow: 0px 0px 50px -10px #a2afb4;
}